@model Kbit.ControlCentre.Models.ViewEditCustomerVm

@{
    ViewBag.Title = "Edit/View Customer Cost Estimates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit/View Customer Cost Estimates</h2>
