@using Kbit.ControlCentre.Session

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="normalheader  small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                </div>
                <h2 class="font-light m-b-xs">
                    Business Definition - Users
                </h2>
                <small>Add, modify or delete User records belonging to a Business</small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div>

        </div>
        <div class="hpanel hyellow" style="">
            <div class="panel-heading">
                <div class="pull-right">
                    @*@Html.ActionLink("Add New", "New", "Business", new { }, new { @class = "btn btn-warning btn-xs" })*@
                </div>
                Business Definition - Users
            </div>
            <div class="panel-body">

                <div class="dataTables_wrapper form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="usersMaster" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>License</th>
                                        <th>Account Status</th>
                                        <td>...</td>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            var renderedTable = $("#usersMaster").DataTable({
                reponsive: true,
                ajax: {
                    url: '@Url.Action("GetAllBusinessUsers", "User")/@Session[SessionConstants.CurrentUserBusinessId].ToString()',
                    dataType: "json",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "role"
                    },
                    {
                        data: "licenseSpecification"
                    },
                    {
                        data: "accountStatus",
                        render: function(data, type, applicationModel) {
                            if (data == "Active Account Status") {
                                return "<span class ='label label-success'>" + data + "</span>";
                            } else if(data == "Blocked Account Status") {
                                return "<span class ='label label-danger'>" + data + "</span>";
                            } else if (data == "Inactive Account Status") {
                                return "<span class ='label label-warning'>" + data + "</span>";
                            }
                            return "<span class ='label label-warning'>" + data + "</span>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type, applicationModel) {
                            return "<a href='@Url.Action("EditBusinessUser", "User")/" +
                                applicationModel.id +
                                "' class='btn btn-default btn-xs'><i class='fa fa-paste'></i> View/Edit</a>";
                        }
                    }
                ]
            });
        });
    </script>

}
